#
# xnat-conf.properties
# XNAT http://www.xnat.org
# Copyright (c) 2016, Washington University School of Medicine
# All Rights Reserved
#
# Released under the Simplified BSD.
#
# This file managed by xnat Puppet module.
#

datasource.driver=org.postgresql.Driver
datasource.url=jdbc:postgresql://<%= scope.lookupvar('::xnat::db_host') %>/<%= scope.lookupvar('::xnat::db_name') %>
datasource.username=<%= scope.lookupvar('::xnat::db_user') %>
datasource.password=<%= scope.lookupvar('::xnat::db_pass') %>

hibernate.dialect=org.hibernate.dialect.PostgreSQL9Dialect
hibernate.hbm2ddl.auto=update
hibernate.show_sql=false
hibernate.cache.use_second_level_cache=true
hibernate.cache.use_query_cache=true
<% if scope.lookupvar('::xnat::xnat_conf_additional') -%>

# From xnat::xnat_conf_additional parameter
<%= scope.lookupvar('::xnat::xnat_conf_additional') %>
<% end -%>